<template>
  <view class="content">
    <scroll-view
      class="scroll-information"
      :scroll-y="true"
      @scrolltolower="getList(false)"
      style="height: 100vh"
    >
      <view class="list">
        <view
          v-for="(item, index) in listData"
          :key="index"
          class="item mb-18"
          :class="{ small: index % 5 <= 2, big: index % 5 > 2 }"
          @click="goDetails(item)"
        >
          <image :src="item.head_img_url" class="img" mode="scaleToFill" />
        </view>
      </view>
      <BottomState :currentState="currentState" />
    </scroll-view>
  </view>
</template>

<script>
import BottomState from "../../components/BottomState.vue";
import { scenicList } from "../../http/index";

const COUNT = 15;

export default {
  components: { BottomState },

  data() {
    return {
      currentState: {
        requesting: false,
        isEmpty: false,
        error: false,
        noMore: false,
      },

      listQuery: {
        topicId: 167,
        // topicId: 192,
        pageNum: 1,
        pageSize: COUNT,
      },
      listData: [],
    };
  },

  onLoad() {
    this.getList(true);
  },

  methods: {
    async getList(isClear = false) {
      if (this.currentState.isEmpty || this.currentState.noMore) return;
      if (this.currentState.requesting) return;
      this.currentState.requesting = true;
      try {
        if (isClear) {
          this.listQuery.pageNum = 1;
        }

        const { list = [] } = await scenicList(this.listQuery);
        const { listData } = this;
        const allList = isClear ? list : [...listData, ...list];
        const isEmpty = allList.length === 0;
        const noMore = (list && list.length) < COUNT;
        this.listData = allList;
        this.currentState = {
          ...this.currentState,
          isEmpty,
          noMore,
        };
        this.listQuery.pageNum++;
      } finally {
        this.currentState.requesting = false;
      }
    },

    goDetails() {},
  },
};
</script>

<style lang="scss" scoped>
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 18rpx;

  .small {
    width: 226rpx;
    height: 226rpx;
    border-radius: 12rpx;
  }

  .big {
    width: 348rpx;
    height: 348rpx;
    border-radius: 12rpx;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12rpx;
  }
}

.item:last-child {
  margin-right: auto;
  margin-left: 18rpx;
}
</style>
