<template>
  <view class="content">
    <scroll-view
      class="scroll-information"
      :scroll-y="true"
      @scrolltolower="getList(false)"
      style="height: 100vh"
    >
      <view class="list">
        <view
          v-for="(item, index) in listData"
          :key="index"
          class="item mb-22"
          @click="goDetails(item)"
        >
          <image
            :src="item.head_img_url"
            class="img img-cover mr-18"
            mode="scaleToFill"
          />
          <view class="nickname">哟欧诺个户吗</view>
          <view class="num ml-auto">dd8</view>
          <image
            class="arrow img-cover"
            src="../../static/image/ic_arrow_right_white.png"
          />
        </view>
      </view>
      <BottomState :currentState="currentState" />
    </scroll-view>
  </view>
</template>

<script>
import BottomState from "../../components/BottomState.vue";
import { scenicList } from "../../http/index";

const COUNT = 15;

export default {
  components: {
    BottomState,
  },

  data() {
    return {
      currentState: {
        requesting: false,
        isEmpty: false,
        error: false,
        noMore: false,
      },
      listQuery: {
        topicId: 167,
        pageNum: 1,
        pageSize: COUNT,
      },
      listData: [1, 3, 5],
    };
  },
  onLoad() {
    this.getList(true);
  },

  methods: {
    async getList(isClear = false) {
      if (this.currentState.isEmpty || this.currentState.noMore) return;
      if (this.currentState.requesting) return;
      this.currentState.requesting = true;
      try {
        if (isClear) {
          this.listQuery.pageNum = 1;
        }

        const { list = [] } = await scenicList(this.listQuery);
        const { listData } = this;
        const allList = isClear ? list : [...listData, ...list];
        const isEmpty = allList.length === 0;
        const noMore = (list && list.length) < COUNT;
        this.listData = allList;
        this.currentState = {
          ...this.currentState,
          isEmpty,
          noMore,
        };
        this.listQuery.pageNum++;
      } finally {
        this.currentState.requesting = false;
      }
    },

    goDetails() {},
  },
};
</script>

<style lang="scss" scoped>
.item {
  display: flex;
  align-items: center;
  width: 750rpx;
  height: 132rpx;
  background: #1c1a38;
  padding: 0 28rpx;

  .img {
    width: 58rpx;
    height: 58rpx;
    border-radius: 50%;
  }

  .nickname {
    font-size: 28rpx;
    color: #ffffff;
  }

  .num {
    height: 36rpx;
    background: #7ed6d6;
    border: 1rpx solid #1c1a38;
    border-radius: 18rpx;
    font-size: 28rpx;
    color: #1c1a38;
    padding: 0 12rpx;
    text-align: center;
    margin-right: 60rpx;
    line-height: 36rpx;
  }

  .arrow {
    width: 22rpx;
    height: 22rpx;
  }
}
</style>
