<template>
  <view class="content">
    <scroll-view class="scroll-information" scroll-y>
      <view class="list">
        <view v-for="(item, index) in listData" :key="index" class="item">
          <image
            class="cover img-cover mr-30"
            src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
            mode="scaleToFill"
          />
          <view class="detail">
            <view class="name mb-18">杭州工银借记卡</view>
            <view class="time">订单号 023472985723957</view>
          </view>
          <image
            class="arrow img-cover ml-auto"
            src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
            mode="scaleToFill"
          />
        </view>
      </view>
    </scroll-view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      listData: [1, 2, 3, 4]
    };
  },
  onLoad() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.item {
  padding: 0 30rpx;
  width: 750rpx;
  height: 144rpx;
  background: #1c1a38;
  margin-bottom: 22rpx;
  display: flex;
  align-items: center;

  .cover {
    width: 80rpx;
    height: 50rpx;
  }

  .name {
    font-size: 28rpx;
    color: #ffffff;
  }

  .time {
    font-size: 24rpx;
    color: #6a6a7b;
  }

  .arrow {
    width: 22rpx;
    height: 22rpx;
  }
}
</style>
