<template>
  <view class="content">
    <view class="nav">
      <Tabs :type.sync="status" :tabBars="items" @change="tabChange" />
    </view>
  </view>
</template>

<script>
import Tabs from "../../components/Tabs.vue";

export default {
  components: {
    Tabs,
  },

  data() {
    return {
      status: 1,
      items: [
        {
          name: "我消费的",
          type: 1,
        },
        {
          name: "我提供的",
          type: 2,
        },
      ],
    };
  },
  onLoad() {},
  methods: {
    tabChange(val) {
      console.log(val);
    },
  },
};
</script>

<style lang="scss" scoped></style>
