<script>
export default {
  onLaunch: function () {
    console.log("App Launch");
  },
  onShow: function () {
    console.log("App Show");
  },
  onHide: function () {
    console.log("App Hide");
  },
};
</script>

<style>
page {
  background: #110f24;
}

*,
view,
text,
image {
  box-sizing: border-box;
}

.pt-28 {
  padding-top: 28rpx;
}

.mb-10 {
  margin-bottom: 10rpx;
}
.mb-13 {
  margin-bottom: 13rpx;
}
.mb-18 {
  margin-bottom: 18rpx;
}
.mb-20 {
  margin-bottom: 20rpx;
}
.mb-22 {
  margin-bottom: 22rpx;
}
.mb-24 {
  margin-bottom: 24rpx;
}
.mb-40 {
  margin-bottom: 40rpx;
}
.mb-50 {
  margin-bottom: 50rpx;
}

.mr-10 {
  margin-right: 10rpx;
}
.mr-18 {
  margin-right: 18rpx;
}
.mr-20 {
  margin-right: 20rpx;
}
.mr-30 {
  margin-right: 30rpx;
}
.mr-40 {
  margin-right: 40rpx;
}
.ml-10 {
  margin-left: 10rpx;
}
.ml-18 {
  margin-left: 18rpx;
}
.ml-20 {
  margin-left: 20rpx;
}
.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.img-cover {
  object-fit: cover;
}

.white {
  color: #ffffff;
}

.grey {
  color: #6a6a7b;
}
.pink {
  color: #f46baf;
}

.container {
  height: 100vh;
  width: 100%;
}
</style>
