<template>
  <view class="content pt-28">
    <view class="item">
      <view class="label">银行卡号</view>
      <input type="text" class="input" placeholder="请输入" /> </view
    ><view class="item">
      <view class="label">开户行</view>
      <input type="text" class="input" placeholder="请输入" /> </view
    ><view class="item">
      <view class="label">开卡人姓名</view>
      <input type="text" class="input" placeholder="请输入" />
    </view>
    <view class="action">删除</view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      form: {
        fuck: "",
      },
    };
  },
  onLoad() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.item {
  display: flex;
  align-items: center;
  width: 714rpx;
  height: 92rpx;
  padding: 24rpx;
  background: #1c1a38;
  border-radius: 13rpx;
  margin: 0 18rpx 24rpx 18rpx;
  font-size: 28rpx;
  color: #ffffff;

  .label {
    width: 160rpx;
  }

  .input {
    flex: 1;
  }
}

.action {
  position: fixed;
  bottom: 75rpx;
  left: 30rpx;
  right: 30rpx;
  width: 690rpx;
  height: 80rpx;
  background: #f46baf;
  border-radius: 40rpx;
  color: #FFFFFF;
  font-size: 36rpx;
  text-align: center;
  line-height: 80rpx;
}
</style>
