<template>
  <view class="content">
    <view class="list">
      <view
        v-for="(item, index) in listData"
        :key="index"
        class="item mb-10"
        :class="{ 'mr-10': index % 3 < 2 }"
      >
        <image :src="item.src" class="img img-cover" mode="scaleToFill" />
      </view>
      <view
        v-if="listData.length < 5"
        class="item add-btn mb-10"
        @click="beforeAdd"
        >+</view
      >
    </view>
    <view class="title mb-24">
      <input type="text" placeholder="图集标题" maxlength="20" />
    </view>
    <view class="summary">
      <textarea
        placeholder-class="textarea-placeholder"
        placeholder="正文"
        maxlength="200"
      />
    </view>
    <view class="action">
      <view class="public">发布作品</view>
      <div class="del">
        <image
          class="del-image"
          src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        />
        <text>删除</text>
      </div>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      listData: [
        {
          src: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
      ],
    };
  },
  onLoad() {},
  methods: {
    beforeAdd() {
      this.listData.push({
        src: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.content {
  padding-bottom: 100rpx;
}

.list {
  padding: 0 61rpx;
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 202rpx;
    height: 202rpx;

    .img {
      width: 100%;
      height: 100%;
    }
  }

  .add-btn {
    border: 1px solid #535363;
    font-size: 52rpx;
    text-align: center;
    line-height: 200rpx;
    color: #535363;
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rpx 30rpx;
  height: 100rpx;
  width: 750rpx;
  position: fixed;
  bottom: 0;
  left: 0;

  .public {
    width: 456rpx;
    height: 80rpx;
    background: #f46baf;
    border-radius: 40rpx;
    font-size: 36rpx;
    color: #ffffff;
    text-align: center;
    line-height: 80rpx;
  }

  .del {
    width: 215rpx;
    height: 80rpx;
    border: 1rpx solid #535363;
    border-radius: 40rpx;
    color: #535363;
    font-size: 36rpx;
    display: flex;
    justify-content: center;
    align-items: center;

    .del-image {
      width: 34rpx;
      height: 34rpx;
    }
  }
}

.title {
  width: 750rpx;
  height: 86rpx;
  background: #1c1a38;
  padding: 30rpx;
  color: #535363;
  font-size: 26rpx;
}
.summary {
  width: 750rpx;
  height: 286rpx;
  background: #1c1a38;
  padding: 30rpx;
  color: #535363;
  font-size: 26rpx;

  textarea {
    width: 100%;
  }
}
</style>
