<template>
  <view class="content">
    <scroll-view class="scroll-information" scroll-y>
      <view class="list">
        <view v-for="(item, index) in listData" :key="index">
          <view v-if="item.isSelf" class="item left">
            <image
              src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
              class="avatar"
            ></image>
            <view class="text">{{ item.text }}</view>
          </view>

          <view v-else class="item right">
            <view class="text">{{ item.text }}</view>
            <image
              src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
              class="avatar"
            ></image>
          </view>
        </view>
      </view>
    </scroll-view>
    <submit />
  </view>
</template>

<script>
import Submit from "../../components/Submit.vue";

export default {
  components: { Submit },

  data() {
    return {
      listData: [
        {
          isSelf: true,
          text: "你说说很忙",
        },
        {
          isSelf: false,
          text: "你说说你说说很忙你说说很忙你说说很忙很忙",
        },
        {
          isSelf: true,
          text: "你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙",
        },
        {
          isSelf: false,
          text: "你说说你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙很忙",
        },
        {
          isSelf: false,
          text: "你说说你说说很忙你说你说说你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙很忙你说说你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙很忙你说说你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙很忙你说说你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙很忙你说说你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙很忙你说说你说说很忙你说说很忙你说说很忙你说说很忙你说说很忙很忙说很忙你说说很忙你说说很忙你说说很忙很忙",
        },
      ],
    };
  },
  onLoad() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.list {
  padding: 22rpx;
}
.item {
  display: flex;
  margin-bottom: 30rpx;

  .avatar {
    width: 74rpx;
    height: 74rpx;
    border-radius: 50%;
  }

  .text {
    max-width: 516rpx;
    padding: 20rpx 40rpx;
    background: #45445b;
    border-radius: 37px;
    color: #ffffff;
    font-size: 28rpx;
    line-height: 36rpx;
  }
}

.left {
  .avatar {
    margin-right: 22rpx;
  }
}

.right {
  justify-content: flex-end;
  .text {
    max-width: 516rpx;
    margin-right: 22rpx;
  }
}
</style>
