<template>
  <view>
    <view v-if="currentState.noMore" class="state"> 没有更多了 </view>
    <view v-if="currentState.requesting" class="state"> 加载中</view>
  </view>
</template>

<script>
export default {
  props: {
    currentState: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.state {
  height: 60rpx;
  padding: 10rpx 0;
  color: #6a6a7b;
  font-size: 24rpx;
  text-align: center;
  line-height: 40rpx;
}
</style>
