<template>
  <view class="chat-submit">
    <view class="action">
      <image
        class="icon img-cover mr-20"
        src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        mode="scaleToFill"
      />
      <input class="uni-input input" v-model="textContent" focus placeholder="自动获得焦点" />
      <image
        class="icon img-cover mr-20 ml-auto"
        src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        mode="scaleToFill"
        @click="showEmoji = !showEmoji"
      />
      <image
        class="icon img-cover"
        src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        mode="scaleToFill"
      />
    </view>

    <Emoji v-show="showEmoji" @emotion="selectEmoji" />
  </view>
</template>

<script>
import Emoji from "./Emoji.vue";

export default {
  components: { Emoji },

  data() {
    return {
      showEmoji: false,
      textContent: ''
    };
  },

  methods: {
    selectEmoji(val) {
      this.textContent += val
      console.log(val)
    }
  }
};
</script>

<style lang="scss" scoped>
.chat-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 750rpx;
  background: #110f24;
  padding: 15rpx;
  z-index: 9999;
}

.action {
  display: flex;
  align-items: center;

  .icon {
    width: 48rpx;
    height: 48rpx;
  }

  .input {
    width: 503rpx;
    height: 74rpx;
    background: #1c1a38;
    border-radius: 7rpx;
    padding: 10rpx;
    font-size: 28rpx;
    color: #ffffff;
  }
}
</style>
