<template>
  <view class="diy-tab">
    <view
      class="diy-tab-item"
      v-for="(tab, index) in tabBars"
      :key="index"
      :class="{ active: tab.type == value }"
      @tap="tabTap(tab)"
    >
      {{ tab.name }}
    </view>
  </view>
</template>

<script>
export default {
  props: {
    type: {
      type: [Number, String],
      default: null,
    },

    tabBars: Array,
  },

  computed: {
    value: {
      get() {
        return this.type;
      },
      set(val) {
        this.$emit("update:type", val);
      },
    },
  },

  methods: {
    tabTap(tab) {
      if (tab.type === this.value) return;

      this.value = tab.type;
      this.$emit("change", tab);
    },
  },
};
</script>

<style lang="scss" scoped>
.diy-tab {
  height: 72rpx;
  background: #1c1a38;
  border-radius: 36rpx;
  display: flex;
  padding: 8rpx 10rpx;
}

.diy-tab-item {
  flex: 1;
  height: 56rpx;
  font-size: 30rpx;
  color: #6a6a7b;
  line-height: 56rpx;
  text-align: center;
}

.active {
  color: #ffffff;
  background: #f46baf;
  border-radius: 28rpx;
}
</style>
