<template>
  <view class="content">
    <view class="info">
      <image
        class="avatar mr-18"
        src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        mode="scaleToFill"
      />
      <view class="nickname"> 用户昵称 </view>
      <view class="focus-btn ml-auto" @click="onFocus">关注</view>
    </view>
    <swiper
      class="swiper"
      circular
      :indicator-dots="indicatorDots"
      :autoplay="autoplay"
      :interval="interval"
      :duration="duration"
    >
      <swiper-item v-for="(item, index) in listData" :key="index">
        <image
          :src="item.src"
          class="banner-img img-cover"
          mode="scaleToFill"
        />
      </swiper-item>
    </swiper>
    <view class="summary">{{ summary }}</view>
    <view class="detail">
      <image
        class="icon img-cover mr-18"
        src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        mode="scaleToFill"
      />
      <view class="num mr-40"> 3.6万</view>
      <image
        class="icon img-cover mr-18"
        src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        mode="scaleToFill"
      />
      <view class="num mr-40"> 3.6万</view>
      <view class="time ml-auto">7月21日</view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      indicatorDots: true,
      autoplay: true,
      interval: 2000,
      duration: 500,
      summary: "方法士大夫撒旦解放送到附近的事件发生的了附件是的范德萨发",
      listData: [
        {
          src: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
        {
          src: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
        {
          src: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
      ],
    };
  },
  onLoad() {},
  methods: {
    onFocus() {},
  },
};
</script>

<style lang="scss" scoped>
.content {
  padding-bottom: 150rpx;
}

.swiper {
  width: 750rpx;
  height: 938rpx;
}
.banner-img {
  width: 750rpx;
  height: 938rpx;
}

.info {
  display: flex;
  align-items: center;
  width: 750rpx;
  height: 92rpx;
  padding: 30rpx;

  .avatar {
    width: 57rpx;
    height: 57rpx;
    background: #45445b;
    border-radius: 50%;
  }

  .nickname {
    font-size: 28rpx;
    color: #ffffff;
  }

  .focus-btn {
    height: 58rpx;
    background: #f46baf;
    border-radius: 13rpx;
    padding: 0 40rpx;
    font-size: 28rpx;
    color: #ffffff;
    line-height: 58rpx;
  }
}
.summary {
  width: 750rpx;
  height: 270rpx;
  padding: 70rpx 30rpx;
  color: #ffffff;
  font-size: 24rpx;
  line-height: 38rpx;
  background: #1c1a38;
}

.detail {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 750rpx;
  height: 150rpx;
  display: flex;
  align-items: center;
  background: #110f24;
  padding: 0 30rpx;

  .icon {
    width: 48rpx;
    height: 48rpx;
  }

  .num {
    font-size: 28rpx;
    color: #ffffff;
  }

  .time {
    font-size: 28rpx;
    color: #6a6a7b;
  }
}
</style>
