<template>
  <view class="content">
    <view class="info">
      <view class="info-user">
        <image
          class="avatar img-cover"
          src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
        ></image>
        <view class="info-user-detail">
          <view class="name">喵喵工作室</view>
          <view class="nickname mb-20">哟欧诺个户吗</view>
          <view class="id">ID #123456</view>
        </view>
        <view class="action ml-auto">
          <view
            v-for="(item, index) in actions"
            :key="index"
            class="action-item"
            :class="{ 'mb-13': index != actions.length - 1 }"
          >
            <image :src="item.icon" class="action-icon" mode="scaleToFill" />
            <view>{{ item.name }}</view>
            <image
              src="../../static/image/ic_arrow_right_white.png"
              class="action-arrow"
              mode="scaleToFill"
            />
          </view>
        </view>
      </view>
      <view class="info-detail">
        <view class="title">个人简介</view>
        <view class="tag">佛系更新/COS/二次元/婚纱摄影</view>
        <view class="data">
          <view class="data-item">
            <view class="name">关注</view>
            <view class="num">2.3w</view>
          </view>
          <view class="data-item">
            <view class="name">粉丝</view>
            <view class="num">2.3w</view>
          </view>
          <view class="data-item">
            <view class="name">点赞</view>
            <view class="num">2.3w</view>
          </view>
          <view class="data-item">
            <view class="name">收藏</view>
            <view class="num">2.3w</view>
          </view>
        </view>
      </view>
    </view>
    <scroll-view class="scroll-information" scroll-y>
      <view class="list">
        <view v-for="(item, index) in listData" :key="index" class="item">
          <image
            class="cover img-cover"
            src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
            mode="scaleToFill"
          />
        </view>
      </view>
    </scroll-view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      actions: [
        {
          path: "",
          name: "编辑资料",
          icon: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
        {
          path: "",
          name: "我的收入",
          icon: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
        {
          path: "",
          name: "我的订单",
          icon: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
        {
          path: "",
          name: "我的服务",
          icon: "https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg",
        },
      ],
      listData: [1, 2, 3, 4, 5],
    };
  },
  onLoad() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.info {
  margin: 18rpx;
  width: 714rpx;
  height: 396rpx;
  background: #110f24;
  border-radius: 12rpx;
}

.info-user {
  display: flex;
  align-items: center;
  padding: 20rpx 30rpx;
  border-bottom: 1rpx solid #6a6a7b;

  .avatar {
    width: 147rpx;
    height: 147rpx;
    background: #191a1c;
    border-radius: 74rpx;
    margin-right: 22rpx;
  }

  .info-user-detail {
    .name {
      height: 36rpx;
      background: #262443;
      border: 1rpx solid #8d8c89;
      border-radius: 17rpx;
      color: #ffffff;
      font-size: 18rpx;
      line-height: 34rpx;
      padding: 0 18rpx;
      margin-bottom: 15rpx;
      text-align: center;
    }

    .nickname {
      color: #d4d4d8;
      font-size: 36rpx;
      line-height: 1;
    }

    .id {
      color: #6a6a7b;
      font-size: 28rpx;
      line-height: 1;
    }
  }

  .action {
    .action-item {
      height: 37rpx;
      background: #262443;
      border-radius: 19rpx;
      display: flex;
      align-items: center;
      font-size: 18rpx;
      color: #ffffff;
      padding: 0 17rpx;

      .action-icon {
        width: 18rpx;
        height: 18rpx;
        margin-right: 12rpx;
      }

      .action-arrow {
        width: 14rpx;
        height: 14rpx;
        margin-left: 6rpx;
      }
    }
  }
}

.info-detail {
  padding: 20rpx;

  .title {
    font-size: 18rpx;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10rpx;
  }

  .tag {
    font-size: 18rpx;
    text-align: center;
    color: #6a6a7b;
    margin-bottom: 40rpx;
  }

  .data {
    height: 18rpx;
    display: flex;
    font-size: 18rpx;
    line-height: 1;

    .data-item {
      flex: 1;
      display: flex;
      align-items: center;

      .name {
        color: #ffffff;
        margin-right: 20rpx;
      }

      .num {
        color: #6a6a7b;
      }
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18rpx;

  .item {
    width: 226rpx;
    height: 226rpx;
    border-radius: 12rpx;
    margin-bottom: 18rpx;

    .cover {
      width: 226rpx;
      height: 226rpx;
      border-radius: 12rpx;
    }
  }
}
</style>
