<template>
  <view class="content"> 
    <input type="text" class="search" placeholder="输入搜索内容">
  </view>
</template>

<script>
export default {
  data() {
    return {};
  },
  onLoad() {},
  methods: {},
};
</script>

<style lang="scss" scoped></style>
