<template>
  <view class="content">
    <scroll-view class="scroll-information" scroll-y>
      <view v-for="(item, index) in listData" :key="index" class="item">
        <image
          class="cover img-cover mr-20"
          src="https://oss6.tnaot.com/tnaot/image/2022/10/03/9f89730fa96047c48ef0b38a4a342711.jpg"
          mode="scaleToFill"
        />
        <view class="data-detail">
          <view class="name mb-40">哟欧诺个户吗的摄影服务</view>
          <view class="time">2020-11-17 20:00:00</view>
        </view>
        <image
          class="arrow img-cover ml-auto"
          src="../../static/image/ic_arrow_right_white.png"
          mode="scaleToFill"
        />
      </view>
    </scroll-view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      listData: [1, 2, 3, 4],
    };
  },
  onLoad() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.item {
  display: flex;
  align-items: center;
  width: 750rpx;
  height: 205rpx;
  background: #1c1a38;
  padding: 30rpx;
  color: #ffffff;
  font-size: 28rpx;
  line-height: 1;

  .cover {
    width: 147rpx;
    height: 147rpx;
    background: #191a1c;
    border-radius: 12rpx;
  }

  .name {
  }

  .time {
  }

  .arrow {
    width: 22rpx;
    height: 22rpx;
  }
}
</style>
