<template>
  <view class="content">
    <button @click="stepOne()">购买服务</button>

    <uni-popup ref="stepOne" type="bottom">
      <view class="step1">
        <view class="item">
          <view class="label">订单信息</view>
          <view class="text">购买谁谁谁的摄影服务</view>
        </view>
        <view class="item">
          <view class="label">订单信息</view>
          <view class="text">$100.00</view>
        </view>
        <view class="item">
          <view class="label">订单信息</view>
          <view class="text counter">
            <view class="icon mr-20" @click="onCounter(-1)">-</view>
            <input
              type="text"
              class="input"
              :value="form.num"
              @input="(value) => (form.num = value.replace(/[^\d]/g, ''))"
            />
            <view class="icon ml-20" @click="onCounter(1)">+</view>
          </view>
        </view>
        <view class="item mb-40">
          <view class="label">订单信息</view>
          <view class="text pink">$2000.00</view>
        </view>
        <view class="action" @click="stepTwo">确认付款</view>
      </view>
    </uni-popup>
  </view>
</template>

<script>
export default {
  data() {
    return {
      form: {
        num: 0,
      },
    };
  },
  onLoad() {},
  methods: {
    stepOne() {
      this.$refs["stepOne"].open();
    },

    stepTwo() {
      // 调用微信支付
    },

    onCounter(val) {
      this.form.num += val;
    },
  },
};
</script>

<style lang="scss" scoped>
.step1 {
  width: 750rpx;
  background: #110f24;
  padding: 75rpx 30rpx;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80rpx;
    font-size: 28rpx;
    color: #ffffff;

    .label {
      width: 120rpx;
    }

    .counter {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .icon {
        width: 34rpx;
        height: 34rpx;
        background: #262443;
        border-radius: 7rpx;
        color: #ffffff;
        font-size: 22rpx;
        line-height: 34rpx;
        text-align: center;
      }

      .input {
        width: 60rpx;
        text-align: center;
      }
    }
  }

  .action {
    width: 690rpx;
    height: 80rpx;
    background: #f46baf;
    border-radius: 40rpx;
    margin: 0 auto;
    color: #ffffff;
    font-size: 36rpx;
    line-height: 80rpx;
    text-align: center;
  }
}
</style>
