<template>
  <view class="content">
    <view class="info">
      <view class="info-left">
        <view class="balance mb-50"
          >余额 <text class="ml-18 white">9999</text></view
        >
        <view class="income mb-20">收入 <text class="ml-10">9999</text> </view>
        <view class="income">提现 <text class="ml-10">9999</text></view>
      </view>
      <view class="info-right">
        <view class="btn mb-20"> 银行卡</view>
        <view class="btn">提现</view>
      </view>
    </view>
    <view class="nav">
      <Tabs :type.sync="status" :tabBars="items" @change="tabChange" />
    </view>
    <view v-show="status === 1" class="list">
      <scroll-view class="scroll-information" scroll-y>
        <view v-for="(item, index) in listData" :key="index" class="item">
          <view class="data-detail">
            <view class="name mb-20">哟欧诺个户吗的摄影服务</view>
            <view class="time mb-20"
              >订单号 <text class="ml-10">023472985723957</text>
            </view>
            <view class="time">2020-11-17 20:00:00</view>
          </view>
          <view class="type ml-auto">入账</view>
          <view class="num">￥1000.00</view>
          <image
            class="arrow img-cover"
            src="../../static/image/ic_arrow_right_white.png"
            mode="scaleToFill"
          />
        </view>
      </scroll-view>
    </view>
    <view v-show="status === 2" class="view"> 我的提现 </view>
  </view>
</template>

<script>
import Tabs from "../../components/Tabs.vue";

export default {
  components: {
    Tabs,
  },

  data() {
    return {
      status: 1,
      items: [
        {
          name: "我的收入",
          type: 1,
        },
        {
          name: "我的提现",
          type: 2,
        },
      ],
      listData: [1, 2, 3, 4],
      listData2: [],
    };
  },
  onLoad() {},
  methods: {
    tabChange(val) {
      console.log(val);
    },
  },
};
</script>

<style lang="scss" scoped>
.info {
  width: 750rpx;
  height: 245rpx;
  background: #1c1a38;
  display: flex;
  padding: 36rpx 30rpx;

  .info-left {
    width: 530rpx;

    .balance {
      font-size: 50rpx;
      line-height: 58rpx;
      color: #6a6a7b;
    }

    .income {
      color: #6a6a7b;
      font-size: 24rpx;
      line-height: 1;
    }
  }

  .info-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .btn {
      width: 126rpx;
      height: 58rpx;
      background: #46445a;
      border-radius: 14rpx;
      color: #ffffff;
      font-size: 28rpx;
      line-height: 58rpx;
      text-align: center;
    }
  }
}

.nav {
  margin: 22rpx 28rpx;
}

.list {
  .item {
    display: flex;
    align-items: center;
    width: 750rpx;
    height: 173rpx;
    background: #1c1a38;
    margin-bottom: 23rpx;
    padding: 30rpx 30rpx;

    .data-detail {
      width: 400rpx;

      .name {
        color: #ffffff;
        font-size: 28rpx;
        line-height: 1;
      }

      .time {
        color: #6a6a7b;
        font-size: 24rpx;
        line-height: 1;
      }
    }

    .type {
      color: #47465b;
      font-size: 28rpx;
      margin-right: 37rpx;
    }

    .num {
      font-size: 28rpx;
      color: #ffffff;
      margin-right: 37rpx;
    }

    .arrow {
      width: 22rpx;
      height: 22rpx;
    }
  }
}
</style>
