<template>
  <view class="content">
    <scroll-view class="scroll-information" scroll-y>
      <view class="list">
        <view
          v-for="(item, index) in listData"
          :key="index"
          class="item mb-18 mr-18"
          @click="goDetails(item)"
        >
          {{ item.text }}
        </view>
      </view>
    </scroll-view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      listData: [],
    };
  },

  onLoad() {
    this.getList();
  },

  methods: {
    getList() {
      this.listData = [
        {
          text: "生日快乐",
        },
        {
          text: "生日快乐",
        },
        {
          text: "生日快乐",
        },
        {
          text: "生日快乐发射",
        },
        {
          text: "生日快乐",
        },
        {
          text: "生日快乐发射点发射点反对",
        },
        {
          text: "生日快乐发射点发射点反对",
        },
      ];
    },

    goDetails() {},
  },
};
</script>

<style lang="scss" scoped>
.list {
  display: flex;
  flex-wrap: wrap;
  padding: 20rpx;

  .item {
    height: 64rpx;
    background: #262443;
    border: NaNpx solid #8d8c89;
    border-radius: 30rpx;
    font-size: 30rpx;
    color: #ffffff;
    line-height: 64rpx;
    padding: 0 45rpx;
  }
}
</style>
